.main-container{
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.select-article,
h1 {
  font-family: Montserrat;
  font-weight: 100;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.13rem;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.welcome_personal,
p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 3.125rem;
}

.all__tabs {
  display: flex;
  min-width: 100%;
  align-items: center;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.mdl-layout__tab {
  font-family: Montserrat;
  font-size: 1rem;
  line-height: 1.25rem;
}

.row__bar {
  margin: 0px;
  padding: 40px;
}

.bar {
  width: 36px;
  height: 0px;
  border: 1px solid #acacac;
  transform: rotate(-90deg);
}

.mdl-layout__tab,
a {
  text-decoration: none;
  color: black;
}

.mdl-layout__tab:hover,
a:hover {
  color: #ffbb54;
}
