.main-container{
  margin-left: 12.5em;
  padding: 0.0625em 1em;
  height: 100%;
}

.select-article,
h1 {
  font-family: Montserrat;
  font-weight: 100;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.welcome_personal,
p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 3.125em;
}

.all__tabs {
  display: flex;
  min-width: 100%;
  align-items: center;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.mdl-layout__tab {
  font-family: Montserrat;
  font-size: 1rem;
  line-height: 1.25rem;
}

.row__bar {
  margin: 0px;
  padding: 2.5em;
}

.bar {
  width: 36px;
  height: 0px;
  border: 1px solid #acacac;
  transform: rotate(-90deg);
}

.mdl-layout__tab,
a {
  text-decoration: none;
  color: black;
}

.mdl-layout__tab:hover,
a:hover {
  color: #ffbb54;
}


/*******MEDIA QUERIES **********/
@media screen and (max-width: 500px) {  
  .main-container{
    position: relative;
    overflow-x: hidden;
    margin:0; 
  }
  .welcome_personal, p{
    display:none; 
  }
  
  .select-article, h1{
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  
  .row__bar{
    padding:0em; 
  }
  .bar{
    width: 19px;
    height: 0px;
    border: 0.5px solid #acacac;
  }
  
  }