/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFD047;
    overflow-x: hidden;
    padding-top: 20px;
    font-family: Montserrat;
    margin:auto; 
    padding:0; 
    overflow:auto;
  }

  .zeeguuLogo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 54px;
  }


  .dropbtn {
    background-color: #FFBB54;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    margin: unset;
    width: 100%;
    text-align: left;
    font-family: Montserrat;
    
}
.generalNavLinks{
  position: absolute;
  bottom: 10px;
  width:100%;
}

.settingsbtn{
  width: 48.68px;
  height: 48px;
  border-radius: 50%;
  background: #FFBB54;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.settingsImg{
  width: 100%;
}

.nav-generalbtn{
  position: relative;
  width: 130px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 13px;
  padding-top: 8px;
}

.generalLinks{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFBB54;

}




.dropdown {
  position: relative;
  display: block;
  bottom: 25%;
  top: 20%;
}

.dropbtn span{
  position: absolute;
  right:50px;
}

.dropbtn span:after{
  content:'˅' ;
}

.dropdown-content {
  display: none;
  background-color: #FFFFFF;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #FFBB54;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Montserrat;
  font-size: 20px;
}

.dropdown-content  a:hover {
  background-color: #ffffff;
  color: #FFBB54;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn  {
  background-color:#FFFFFF;
  color: #FFBB54;

}

.dropbtn:hover span:after{
content:'˄';
}


@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav .dropdown   {float: left;}
  .main-container {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidenav .dropdown {
    text-align: center;
    float: none;
  }
}

.main-container
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}