<!-- Template for a starred article link. -->
<script id="starred-articleLink-template" type="text/template">
  <li class="articleLinkEntry" articleLinkFeedID="{% raw %}{{articleLinkFeedID}}{% endraw %}">

      <div class="articleLinkHeader">


          <a class="fadeoutOnClick articleLinkTitle headerElement"
             href="{{ url_for('reader_blueprint.get_article') }}?articleID={% raw %}{{ articleLinkID }}{% endraw %}">


              {% raw %}{{ articleLinkTitle }}{% endraw %}

              <br/>
              <i style="display:{% raw %}{{ articleLinkDisplayStar }}{% endraw %}"
                 class="material-icons star">star</i>
              <i style="display:{% raw %}{{ articleLinkDisplayLike }}{% endraw %}" class="material-icons star">thumb_up</i>


          </a>


          <div class="starredFlag headerElement">
              <span class="flag-icon flag-icon-{% raw %}{{ articleLinkLanguage }}{% endraw %} headerElement"></span>
          </div>
      </div>
  </li>
  <div class="articleLinkSpacer"></div>
</script>

<script id="search-notification-template" type="text/template">
  <li class="fadeoutOnClick articleLinkEntry search-notification-box">
      <div class="articleLinkHeader">
          <div class="searchText headerElement">
              {% raw %}{{ displayText }}{% endraw %}
          </div>
          <div class="deleteSearch headerElement">
              <i class="material-icons">cancel</i>
          </div>
      </div>
  </li>
  <div class="articleLinkSpacer"></div>
</script>
