{% include  "articleHeader.html" %}

<div class="main-container" id="main-containerID">
  <header class="mdl-layout__header mdl-layout__header--transparent">

    <div class="mdl-layout__tab-bar mdl-js-ripple-effect" class="select-article">
      <p class="welcome_personal">Welcome,</p>
      <h1 class="select-article">Select an Article</h1>
      <div class="all__tabs">
        <div class="row__tab">
          <a id="inbox_tab" href="/read" class="mdl-layout__tab">
            Articles</a>
        </div>
        <div class="row__bar">
          <div class="bar"></div>
        </div>
        <div class="row__tab">
          <a id="starred_tab" href="/read/bookmarks" class="mdl-layout__tab">
            Bookmarks</a>
        </div>
        <div class="row__bar">
          <div class="bar"></div>
        </div>
        <div class="row__tab">
          <a id="cohort_tab" href="/read/classroom" class="mdl-layout__tab">
            Classroom</a>
        </div>
      </div>
    </div>
  </header>


  {% include  "sideBar.html" %}

  <div class="widthOfColumn">
    <div class="mdl-layout__drawer mdl-color--amber-A700">
      <nav class="mdl-navigation">
        <!-- Sorting buttons-->
        <div class="sortingCategories">
          <div class="wordsSorting">
            <div class="wordLabel">words</div>
            <div id="triangleWords" class="triangle"></div>
          </div>
          <div class="levelSorting">
            <div class="levelLabel">level</div>
            <div id="triangleLevel" class="triangle"></div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="widthOfColumn">
  </div>
  <div class="widthOfColumn">
    <main class="mdl-layout__content">
      <section class="mdl-layout__tab-panel is-active" id="inbox">
        <div class="page-content">
          <!-- Search notification -->
          <ul id="searchNotification" class="searchNotification"></ul>
          <!-- List of articles -->
          <ul id="articleLinkList" class="articleLinkList"></ul>
          <br />
          <div id="emptyArticleListImage" class="emptyPage">
            <p>You are not subscribed to any feeds </p>
          </div>
        </div>
      </section>
      <section class="mdl-layout__tab-panel" id="starred">
        <div class="page-content">
          <ul id="starredArticleList" class="articleLinkList"></ul>
          <div id="emptyStarredArticleListImage" class="emptyPage">
            <p> You have not bookmarked any articles yet :(</p>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>





<script id="starred-articleLink-template" type="text/template">
      <li class="{% raw %}{{ wordCount }}{% endraw %} {% raw %}{{articleDifficulty}}{% endraw %} fadeoutOnClick articleLinkEntry  {% raw %}{{alreadyOpenedClass}}{% endraw %}"
         articleLinkFeedID="{% raw %}{{articleLinkFeedID}}{% endraw %}">
        <a
         href="{{ url_for('reader_blueprint.get_article') }}?articleID={% raw %}{{ articleLinkID }}{% endraw %}">
         <div class="articleLinkHeader">
          <div class="articleLinkTitle headerElement">
              {% raw %}{{ articleLinkTitle }}{% endraw %}
          </div>
          <div class="articleLinkDifficulty headerElement">
              <span class="difficulty-level articleLinkDifficultyText"
              > {% raw %}{{articleDifficulty}}{% endraw %} </span>
              <span class="articleLinkDifficultyText"> {% raw %}{{ wordCount }}{% endraw %}</span>

          </div>
      </div>
          <div class="articleLinkSummary">
            {% raw %}{{articleSummary}}{% endraw %}
          </div>
          <div class="articleTopics">
            <div class="articleLinkImage">
              <img src="{% raw %}{{articleIcon}}{% endraw %}" class="feedIcon mdl-list__item-avatar"/>
            </div>

            {% raw %}{{#articleTopics}}{% endraw %}
            <span class="singleTopicTag">
              {% raw %}{{topic}}{% endraw %}
            </span>
            {% raw %}{{/articleTopics}}{% endraw %}

          </div>
           <!-- STAR AND THE LIKE BUTTON DISPLAAYED
                    <i style="display:{% raw %}{{ articleLinkDisplayStar }}{% endraw %}"
                      class="material-icons star">star</i>
                    <i style="display:{% raw %}{{ articleLinkDisplayLike }}{% endraw %}" class="material-icons star">thumb_up</i>
                  -->
        </a>
      </li>
      <div class="articleLinkSpacer"></div>

    </script>




<script id="search-notification-template" type="text/template">
    <li class="fadeoutOnClick articleLinkEntry search-notification-box">
        <div class="articleLinkHeader">
            <div class="searchText headerElement">
                {% raw %}{{ displayText }}{% endraw %}
            </div>
            <div class="deleteSearch headerElement">
                <i class="material-icons">cancel</i>
            </div>
        </div>
    </li>
    <div class="articleLinkSpacer"></div>
  </script>
<!-- Dialog windows for adding a source, topic and filter. -->
{% include 'addSourceDialog.html' %} {% include 'addTopicDialog.html' %}

</html>