<!-- Template for a cohort article link. -->
<script id="cohort-articleLink-template" type="text/template">
  <li class="fadeoutOnClick articleLinkEntry  {% raw %}{{alreadyOpenedClass}}{% endraw %}"
      articleLinkFeedID="{% raw %}{{articleLinkFeedID}}{% endraw %}">
      <a href="{{ url_for('reader_blueprint.get_article') }}?articleID={% raw %}{{ articleLinkID }}{% endraw %}">
          <div class="articleLinkHeader">
              <!-- <div class="articleLinkImage headerElement">
                  <img src="{% raw %}{{articleIcon}}{% endraw %}" class="feedIcon mdl-list__item-avatar"/>
              </div> -->
              <div class="articleLinkTitle headerElement">
                  {% raw %}{{ articleLinkTitle }}{% endraw %}
                  <span class="wordCount"> ({% raw %}{{ wordCount }}{% endraw %} words)</span>
              </div>
              <div class="articleLinkDifficulty headerElement">
                  <span class="articleLinkDifficultyText"
                        style="background: {% raw %}{{articleDifficultyColor}}{% endraw %}"> {% raw %}{{articleDifficulty}}{% endraw %} </span>
                  <span class="linkLanguageIcon flag-icon flag-icon-{% raw %}{{ articleLinkLanguage }}{% endraw %}"></span>
              </div>
          </div>
          <div class="articleLinkSummary">
              <span class="publishingTime">({% raw %}{{articleLinkPublished}}{% endraw %})</span>
              {% raw %}{{articleSummary}}{% endraw %}
          </div>
          <div class="articleTopics">
              {% raw %}{{articleTopics}}{% endraw %}
          </div>
      </a>
  </li>
  <div class="articleLinkSpacer"></div>
</script>

<script id="search-notification-template" type="text/template">
  <li class="fadeoutOnClick articleLinkEntry search-notification-box">
      <div class="articleLinkHeader">
          <div class="searchText headerElement">
              {% raw %}{{ displayText }}{% endraw %}
          </div>
          <div class="deleteSearch headerElement">
              <i class="material-icons">cancel</i>
          </div>
      </div>
  </li>
  <div class="articleLinkSpacer"></div>
</script>
