<head>
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('reader_blueprint.static',filename='scripts/newStyling/side-bar.css') }}" />
</head>

<nav class="nav-menu">

  <a href="javascript:void(0);" class="arrow-icon" id="arrow-p" onclick="sideBarFunction(this)">
    <p class="arrow-nav-icon"> ▲</p>
  </a>

  <div class="sidenav" id="myTopnav">
    <a href="{{ url_for('reader_blueprint.articles')}}">
      <img class="zeeguuLogo" src="{{ url_for('reader_blueprint.static',filename='images/zeeguuLogo.svg') }}"
        alt="Zeeguu Logo - The Elephant" />
    </a>
    <div class="dropdown">
      <button class="dropbtn" onclick="location.href='/read'">| Articles <span id="arrow"></span></button>
      <div class="dropdown-content">
        <a href="/read"> All</a>
        <a href="/read/bookmarks">Bookmarks</a>
        <a href="/read/classroom">Classroom</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn" onclick="location.href='/bookmarks'">| Words <span id="arrow"></span></button>
      <div class="dropdown-content">
        <a href="/bookmarks">Translated</a>
        <a href="/starred_bookmarks">Starred</a>
        <a href="/learned_bookmarks">Learned</a>
        <a href="/top_bookmarks">Top</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn" onclick="location.href='/practice'">| Exercises <span id="arrow"></span></button>
      <div class="dropdown-content">
        <a href="/practice/#!/practice/plan/0">Easy</a>
        <a href="/practice/#!/practice/plan/1">Regular</a>
        <a href="/practice/#!/practice/plan/2">Ambitious</a>
      </div>
    </div>
    <script>
      function sideBarFunction(element) {
        var nav = document.getElementById("myTopnav");
        var navstyle = nav.style.display;
        if (navstyle == 'none') {
          nav.style.display = 'block';
          element.className = 'arrow-icon';
          if (document.getElementById('main-containerID') !== null) {
            document.getElementById('main-containerID').style.cssText = 'margin-left:12.5em;';
          }
          if (document.getElementById('settingsContainer') !== null) {
            document.getElementById('settingsContainer').style.cssText = 'margin-left:12.5em;';
          }
          if (document.getElementById('statsContainerID') !== null) {
            document.getElementById('statsContainerID').style.cssText = 'margin-left:14em;';
            document.getElementById('containerStats').style.cssText = 'margin-left:0em;';
          }
          if (document.getElementById('starter-body') !== null) {
            document.getElementById('starter-body').style.cssText = 'padding-left:11em;';
            document.getElementById('footnotes').style.cssText = 'padding-left:5em;';
          }
          else {
            document.getElementById('wordsContainer').style.cssText = 'margin-left:22em;';
          }
        }
        else {
          nav.style.display = 'none';
          element.className = 'arrow-none-block';
          if (document.getElementById('main-containerID') !== null) {
            document.getElementById('main-containerID').style.cssText = 'margin-left:0px;';
          }
          if (document.getElementById('settingsContainer') !== null) {
            document.getElementById('settingsContainer').style.cssText = 'margin:auto;';
          }
          if (document.getElementById('statsContainerID') !== null) {
            document.getElementById('statsContainerID').style.cssText = 'margin-left:0em;';
            document.getElementById('containerStats').style.cssText = 'margin-left:6em;';
          }
          if (document.getElementById('starter-body') !== null) {
            document.getElementById('starter-body').style.cssText = 'padding-left:0em;';
            document.getElementById('footnotes').style.cssText = 'padding-left:0em;';
          }
          else {
            document.getElementById('wordsContainer').style.cssText = 'margin-left:16em;';
          }
        }
      }

      function settingsFunction(element) {
        var box = document.getElementById("hidden");
        var boxstyle = box.style.display;
        if (boxstyle == 'block') {
          box.style.display = 'none';
        } else {
          box.style.display = 'block';
        }
      }
    </script>


    <div class="generalNavLinks">

      <div class="hiddenSettingsBox" id="hidden">
        <div class="hiddenOption">
          <a class="hiddenText" href="/my_settings">Settings</a>
        </div>
        <div class="hiddenOption">
          <a class="hiddenText" href="/stats">Statistics</a>
        </div>
        <div class="hiddenOption">
          <a class="hiddenText" href="/teacher-dashboard">Teacher</a>
        </div>
        <div class="hiddenOption">
          <a class="hiddenText">About</a>
        </div>
      </div>

      <div class="settingsbtn">
        <a class="settingsLink" onclick="settingsFunction(this)">
          <img class="settingsImg" src="{{ url_for('reader_blueprint.static',filename='images/settingsWheel.svg') }}"
            alt="Click here for general settings" />
        </a>
      </div>
      <div class="nav-generalbtn">
        <a class="generalLinks" href="mailto:zeeguu.team@gmail.com">Get in touch</a>
      </div>
      <div class="nav-generalbtn">
        <a class="generalLinks" href="{{ url_for('account.logout') }}">Sign Out</a>
      </div>

    </div>
  </div>
</nav>